{% extends "layouts/base.njk" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-tablet is-6-desktop">
                <div class="box">
                    <h1 class="title has-text-centered">Change Password</h1>

                    {% if flash.error %}
                        <div class="notification is-danger">
                            {{ flash.error }}
                        </div>
                    {% endif %}

                    {% if flash.success %}
                        <div class="notification is-success">
                            {{ flash.success }}
                        </div>
                    {% endif %}

                    <form action="/profile/change-password" method="POST">
                        <div class="field">
                            <label class="label">Current Password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="currentPassword" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">New Password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="newPassword" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Confirm New Password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="confirmPassword" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button type="submit" class="button is-primary">
                                    <span class="icon">
                                        <i class="fas fa-save"></i>
                                    </span>
                                    <span>Change Password</span>
                                </button>
                            </p>
                            <p class="control">
                                <a href="/profile" class="button is-light">
                                    <span class="icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span>Cancel</span>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}