<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Rent-a-Car</strong> © 2025.
      <span class="icon has-text-danger">
        <i class="fab fa-reddit"></i>
      </span>
      r/argentina-programa
    </p>
  </div>
</footer>